<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tools" name="GWT Compilers" schema="schema/tools.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="moduleXml"
            name="GWT Module Definition"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="module">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         id="gwtNature"
         name="GWT Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="in.cypal.studio.gwt.core.nature.GWTNature">
         </run>
      </runtime>
      <builder
            id="in.cypal.studio.gwt.core.gwtBuilder">
      </builder>
   </extension>
   <extension
         id="gwtBuilder"
         name="GWT Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            >
         <run
               class="in.cypal.studio.gwt.core.builder.GwtBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="in.cypal.studio.gwt.core.common.DefaultPreferencesInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="in.cypal.studio.gwt.core.launch.LaunchConfigurationDelegate"
            id="in.cypal.studio.gwt.core.launchConfigurationType"
            modes="run, debug"
            name="GWT Hosted Mode Application">
      </launchConfigurationType>
   </extension>
   <extension
         id="ExportWar"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="in.cypal.studio.gwt.core.builder.ExportWarApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="in.cypal.studio.gwt.core.common.GwtRuntimeClasspathContainerInitializer"
            id="in.cypal.studio.gwt.core.GWT_RUNTIME">
      </classpathContainerInitializer>
   </extension>

</plugin>
