<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>@className</title>
  </head>
  <body bgcolor="white"> 
    <script type="text/javascript" language="javascript" src="@basePackage.@className/@basePackage.@className.nocache.js"></script>
  </body>
</html>