<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            facet="in.cypal.studio.gwt.core.gwtFacet"
            path="icons/gwt_icon16.png"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="in.cypal.studio.gwt.ui.preferences.MainPreferencePage"
            id="mainPreferencePage"
            name="Cypal Studio">
         <keywordReference id="in.cypal.studio.gwt.ui.mainPreferenceKeyword"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="mainPreferenceKeyword"
            label="GWT HOME compile Async Google Cypal"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="in.cypal.studio.gwt.ui.cypalNewWizardCategory"
            name="Cypal Studio"/>
      <wizard
            category="in.cypal.studio.gwt.ui.cypalNewWizardCategory"
            class="in.cypal.studio.gwt.ui.wizards.NewGwtModuleWizard"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            icon="icons/gwt_icon16.png"
            id="newModuleWizard"
            name="Module"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"/>
      <wizard
            category="in.cypal.studio.gwt.ui.cypalNewWizardCategory"
            class="in.cypal.studio.gwt.ui.wizards.NewGwtRemoteServiceWizard"
            finalPerspective="org.eclipse.jst.j2EEPerspective"
            icon="icons/gwt_icon16.png"
            id="newRemoteServiceWizard"
            name="Remote Service"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"/>
      <wizard
            category="in.cypal.studio.gwt.ui.cypalNewWizardCategory"
            class="in.cypal.studio.gwt.ui.wizards.NewGwtEntryPointClassWizard"
            finalPerspective="org.eclipse.jst.j2EEPerspective"
            icon="icons/gwt_icon16.png"
            id="newEntryPointClassWizard"
            name="Entry Point"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"/>
   </extension>

</plugin>
