<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            facet="in.cypal.gwtpro.core.gwtFacet"
            path="icons/gwt_icon16.png"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="in.cypal.studio.gwt.ui.preferences.MainPreferencePage"
            id="mainPreferencePage"
            name="GWT Pro">
         <keywordReference id="in.cypal.gwtpro.ui.mainPreferenceKeyword"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="mainPreferenceKeyword"
            label="GWT HOME compile Async Google"/>
   </extension>

</plugin>
