<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tools" name="GWT Compilers" schema="schema/tools.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="moduleXml"
            name="GWT Module Definition"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="module">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         id="gwtNature"
         name="GWT Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="in.cypal.studio.gwt.core.nature.GWTNature">
         </run>
      </runtime>
      <builder
            id="in.cypal.studio.gwt.core.gwtBuilder">
      </builder>
   </extension>
   <extension
         id="gwtBuilder"
         name="GWT Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            >
         <run
               class="in.cypal.studio.gwt.core.builder.GwtBuilder">
         </run></builder>
   </extension>
   <extension
         id="in.cypal.studio.gwt.core.gwtFacet"
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet id="in.cypal.studio.gwt.core.gwtFacet">
         <label>
            Cypal&apos;s GWT Facet
         </label>
         <description>
            Enables the web application to use Google's Ajax library, GWT
         </description>
      </project-facet>
      <project-facet-version
            facet="in.cypal.studio.gwt.core.gwtFacet"
            version="1.0">
         <action
               id="in.cypal.studio.gwt.core.gwtFacet.install_1_0"
               type="install">
            <config-factory class="in.cypal.studio.gwt.core.facet.InstallActionConfigFactory"/>
            <delegate class="in.cypal.studio.gwt.core.facet.InstallDelegate"/>
         </action>
         <constraint>
            <and>
               <requires
                     facet="jst.web"
                     version="[2.2"/>
               <requires
                     facet="jst.java"
                     version="[1.4"/>
            </and>
         </constraint>
         <action
               id="in.cypal.studio.gwt.core.gwtFacet.uninstall_1_0"
               type="uninstall">
            <config-factory class="in.cypal.studio.gwt.core.facet.UnInstallActionConfigFactory"/>
            <delegate class="in.cypal.studio.gwt.core.facet.UnInstallDelegate"/>
         </action>
      </project-facet-version>
      <project-facet-version
            facet="in.cypal.studio.gwt.core.gwtFacet"
            version="1.5">
         <action
               id="in.cypal.studio.gwt.core.gwtFacet.install_1_5"
               type="INSTALL">
            <config-factory
                  class="in.cypal.studio.gwt.core.facet.InstallActionConfigFactory">
            </config-factory>
            <delegate
                  class="in.cypal.studio.gwt.core.facet.InstallDelegate">
            </delegate>
         </action>
         <constraint>
            <and>
               <requires
                     facet="jst.web"
                     version="[2.2">
               </requires>
               <requires
                     facet="jst.java"
                     version="[1.4">
               </requires>
            </and>
         </constraint>
         <action
               id="in.cypal.studio.gwt.core.gwtFacet.uninstall_1_5"
               type="UNINSTALL">
            <config-factory
                  class="in.cypal.studio.gwt.core.facet.UnInstallActionConfigFactory">
            </config-factory>
            <delegate
                  class="in.cypal.studio.gwt.core.facet.UnInstallDelegate">
            </delegate>
         </action>
         <action
               id="in.cypal.studio.gwt.core.gwtFacet.versionChange_1_5"
               type="VERSION_CHANGE">
            <delegate
                  class="in.cypal.studio.gwt.core.facet.UpgradeDelegate">
            </delegate>
            <config-factory
                  class="in.cypal.studio.gwt.core.facet.UnInstallActionConfigFactory">
            </config-factory>
         </action>
      </project-facet-version>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="in.cypal.studio.gwt.core.common.DefaultPreferencesInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="in.cypal.studio.gwt.core.launch.LaunchConfigurationDelegate"
            id="in.cypal.studio.gwt.core.launchConfigurationType"
            modes="run, debug"
            name="GWT Hosted Mode Application">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.publishTasks">
      <publishTask
            class="in.cypal.studio.gwt.core.builder.GwtPublishTaskDelegate"
            id="in.cypal.studio.gwt.publishTask"
            typeIds="*"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <facet
               id="in.cypal.studio.gwt.core.gwtFacet"
               version="1.0"/>
         <runtime-component any="true"/>
         <facet
               id="in.cypal.studio.gwt.core.gwtFacet"
               version="1.5">
         </facet>
      </supported>
   </extension>
   <extension
         id="ExportWar"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="in.cypal.studio.gwt.core.builder.ExportWarApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <static-preset
            id="in.cypal.studio.gwt.core.gwtPreset_1_5">
         <label>
            Cypal Studio for GWT
         </label>
         <description>
            Creates an Ajax Web project with Google Web Toolkit
         </description>
         <facet
               id="jst.java"
               version="5.0">
         </facet>
         <facet
               id="jst.web"
               version="2.4">
         </facet>
         <facet
               id="in.cypal.studio.gwt.core.gwtFacet"
               version="1.5">
         </facet>
      </static-preset>
      <static-preset
            id="in.cypal.studio.gwt.core.gwtPreset_1_0">
         <label>
            Cypal Studio for GWT (1.4 or earlier)
         </label>
         <description>
            Creates an Ajax Web project with Google Web ToolkitThis is meant for old pre GWT 1.5 releases. Should not be used for GWT 1.5 or higher versions
         </description>
         <facet
               id="jst.java"
               version="1.4">
         </facet>
         <facet
               id="jst.web"
               version="2.2">
         </facet>
         <facet
               id="in.cypal.studio.gwt.core.gwtFacet"
               version="1.0">
         </facet>
      </static-preset>
   </extension>

</plugin>
